<template>
  <div class="card">
    <div class="card-header">
      <div class="card-title text-align-center">
        <h3>Undangan Untuk {{ idname }}</h3>
      </div>
    </div>
    <div class="card-body">
      <form @submit.prevent="processForm">
        <div class="form-group" v-if="mode == 'edit'">
          <label for="name">Code</label
          ><input
            type="text"
            class="form-control"
            v-model="form.code"
            :disabled="mode == 'edit'"
          />
        </div>
        <div class="form-group">
          <label for="name">Name</label
          ><input
            type="text"
            class="form-control"
            v-model="form.name"
            :disabled="mode == 'edit'"
          />
        </div>
        <div class="form-group">
          <label class="typo__label" for="ajax">Email</label>
          <multiselect
            disabled
            :value="form"
            label="email"
            track-by="email"
            placeholder="Type to search"
            open-direction="bottom"
            :options="invitations"
            :searchable="true"
            :loading="isLoading"
            :internal-search="false"
            :close-on-select="true"
            :options-limit="300"
            :show-no-results="false"
            @open="asyncFind"
            @search-change="asyncFind"
            @select="selectEmail"
          >
          </multiselect>
        </div>
        <div class="form-group">
          <label class="typo__label">Jenis Kelamin</label>
          <multiselect
            :disabled="mode == 'edit'"
            v-model="form.gender"
            open-direction="bottom"
            :options="['laki-laki', 'perempuan']"
            :searchable="true"
            :close-on-select="true"
            :show-labels="true"
            placeholder="Pick a value"
          ></multiselect>
        </div>

        <div class="form-group">
          <label for="name">Tanggal Lahir</label
          ><input
            type="date"
            class="form-control"
            v-model="form.birth_date"
            :disabled="mode == 'edit'"
          />
        </div>

        <div class="form-group">
          <label class="typo__label" for="ajax">Designer</label>
          <multiselect
            :disabled="mode == 'edit'"
            v-model="form.designers"
            label="name"
            track-by="id"
            placeholder="Type to search"
            open-direction="bottom"
            :options="designers"
            :multiple="true"
            :searchable="true"
            :loading="isLoading"
            :internal-search="false"
            :clear-on-select="false"
            :close-on-select="false"
            :options-limit="300"
            :show-no-results="false"
            :hide-selected="true"
            @search-change="asyncFindDesigner"
          >
            <template slot="tag" slot-scope="{ option, remove }"
              ><span class="custom__tag"
                ><span>{{ option.name }}</span
                ><span class="custom__remove" @click="remove(option)"
                  >❌</span
                ></span
              ></template
            >
            <!-- <template slot="clear" slot-scope="props">
              <div
                class="multiselect__clear"
                v-if="form.designers.length"
                @mousedown.prevent.stop="clearAll(props.search)"
              ></div> </template -->
            ><span slot="noResult"
              >Oops! No elements found. Consider changing the search
              query.</span
            >
          </multiselect>
        </div>

        <div class="row" v-if="mode != 'edit'">
          <div class="col-md-12">
            <button class="btn btn-primary float-right">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
// import Multiselect from "vue-multiselect";
export default {
  name: "form-undangan",
  props: {
    idname: [String],
    recdata: [Array, String],
    mode: String,
    idinv: String,
  },
  mounted() {
    if (this.idinv) {
      this.fetchData();
    }
    if (this.mode == "create") {
      this.form.email = JSON.parse(this.recdata).email;
    }
  },
  data() {
    return {
      form: {
        email: null,
        name: null,
        birth_date: null,
        gender: null,
        designers: [],
      },
      designers: [],
      invitations: [],
      isLoading: false,
    };
  },
  methods: {
    async processForm(e) {
      e.preventDefault();
      try {
        let response;
        const designers = this.form.designers.map((val, index) => {
          return val.id;
        });
        if (this.mode == "create") {
          response = await window.axios.post(`/invitation-users`, {
            ...this.form,
            designers,
          });
        } else {
          response = await window.axios.patch(
            `/invitation-users/{id}`,
            this.form
          );
        }
        this.$forceUpdate();
        location.reload();
      } catch (err) {}
    },
    selectEmail(data) {
      if (!data) {
        return;
      }
      this.$set(this.form, "email", data.email);
    },
    async asyncFind(search = "") {
      this.isLoading = true;
      let response = await window.axios.get("/invitations");

      // console.log(response.data);E
      this.invitations = response.data;
      this.isLoading = false;
    },
    async asyncFindDesigner(search = "") {
      this.isLoading = true;
      let response = await window.axios.get("/designers");

      // console.log(response.data);
      this.designers = response.data;
      this.isLoading = false;
    },
    async fetchData() {
      let response = await window.axios.get(`/invitation-users/${this.idinv}`);
      this.form = response.data;
      // this.designers = response.data;
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
.card {
  margin: 50px auto;
  max-width: 720px;
  //   margin-bottom: 50px;
}
</style>