<template>
  <div class="card">
    <div class="row m-2">
      <div class="col-md-12">
        <button
          class="btn btn-secondary float-right"
          @click="active_form = true"
        >
          Add Invitations
        </button>
      </div>
    </div>
    <div class="row justify-content-center mb-4" v-if="active_form">
      <div class="col-md-8">
        <form @submit.prevent="processForm">
          <div class="form-group">
            <label for="email">Email</label
            ><input
              type="email"
              name="email"
              class="form-control"
              v-model="form.email"
            />
          </div>

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary float-right">submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td>Email</td>
          <td>Nama</td>
          <td>Jenis Kelamin</td>
          <td>Tanggal Lahir</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in record" :key="index">
          <td>{{ Number(index) + 1 }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.birth_date }}</td>
          <td>{{ item.name != null ? "hadir" : "belum-konfirmasi" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active_form: false,
      record: {},
      form: {
        email: null,
      },
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData: async function () {
      this.record = {
        ...(await window.axios.get(`/invitations`)).data,
      };
      console.log(this.record);
    },

    async processForm(e) {
      e.preventDefault();
      let response;
      try {
        response = await window.axios.post(`/invitations`, this.form);

        this.active_form = false;
        this.form.email = null;
        this.fetchData();
      } catch (err) {
        alert(err.response.data.message);
      }
    },
  },
};
</script>