<template>
  <div>
    <h2 class="countdown-title">{{ title }}</h2>
    <div class="countdown">
      <div class="countdown__item">
        <div class="countdown__item--content">
          <p class="countdown__times">{{ showDays }}</p>
          <span class="countdown__label">Days</span>
        </div>
        <div class="countdown__diveded">:</div>
      </div>
      <div class="countdown__item">
        <div class="countdown__item--content">
          <p class="countdown__times">{{ showHours }}</p>
          <span class="countdown__label">Hours</span>
        </div>
        <div class="countdown__diveded">:</div>
      </div>
      <div class="countdown__item">
        <div class="countdown__item--content">
          <p class="countdown__times">{{ showMinutes }}</p>
          <span class="countdown__label">Minutes</span>
        </div>
        <div class="countdown__diveded">:</div>
      </div>
      <div class="countdown__item">
        <div class="countdown__item--content">
          <p class="countdown__times">{{ showSeconds }}</p>
          <span class="countdown__label">Seconds</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "countdown",
  props: {
    title: String,
    year: [Number, String],
    month: [Number, String],
    day: [Number, String],
    hour: [Number, String],
    minute: {
      type: [Number, String],
      default: "0",
    },
    second: {
      type: [Number, String],
      default: "0",
    },
    milisecond: {
      type: [Number, String],
      default: "0",
    },
  },
  data() {
    return {
      showSeconds: 0,
      showMinutes: 0,
      showHours: 0,
      showDays: 0,
    };
  },
  mounted() {
    this.countDown();
  },
  computed: {
    _seconds() {
      // 1second = 1000ms
      return 1000;
    },
    _minutes() {
      return this._seconds * 60;
    },
    _hours() {
      return this._minutes * 60;
    },
    _days() {
      return this._hours * 24;
    },
    dateEnd() {
      try {
        return new Date(
          Number(this.year),
          Number(this.month) - 1,
          Number(this.day),
          Number(this.hour),
          Number(this.minute),
          Number(this.second),
          Number(this.milisecond)
        );
      } catch {
        return new date(0, 0, 0, 0, 0, 0, 0);
      }
    },
  },
  methods: {
    formatDisplay(val) {
      return val < 10 ? "0" + val : val;
    },
    countDown() {
      const timer = setInterval(() => {
        /* TODO: set param */
        const dateNow = new Date();
        /* years, month begin from 0, days, hours, minutes,second gmt+07*/
        // const dateEnd = new Date(2020, 11, 1, 17, 0, 0, 0);
        const distance = this.dateEnd.getTime() - dateNow.getTime();
        // console.log(dateNow, dateEnd);
        /* times remaining remaining */

        if (distance < 0) {
          clearInterval(timer);
          return;
        }
        const days = Math.floor(distance / this._days);
        const hours = Math.floor((distance % this._days) / this._hours);
        const minutes = Math.floor((distance % this._hours) / this._minutes);
        const seconds = Math.floor((distance % this._minutes) / this._seconds);
        /*      console.table([
          { days: days },
          { hours: hours },
          { minutes: minutes },
          { seconds: seconds },
        ]); */
        this.showSeconds = this.formatDisplay(seconds);
        this.showMinutes = this.formatDisplay(minutes);
        this.showHours = this.formatDisplay(hours);
        this.showDays = this.formatDisplay(days);
      }, 1000);
    },
  },
};
</script>

<style lang="scss">
.countdown,
.countdown-title {
  padding: 0;
  margin: 0 auto;
  max-width: 480px;
}
.countdown-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;

  // border: 1px solid lightblue;
}
.countdown {
  font-family: inheret;
  font-size: 16px;
  font-weight: 400;
  // padding: 0;
  // background-color: lightblue;
  // border-radius: 20px;

  display: flex;
  align-items: center;
  // align-items: center;
  &__item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--content {
      border: 1px solid lightblue;
      text-align: center;
      flex: 0 0 90%;
      display: flex;
      flex-direction: column;

      .countdown__times {
        margin: 0;
        padding: 0;
        font-size: 3rem;
        font-weight: 900;
        color: orangered;
      }

      .countdown__label {
        font-weight: 600;
      }
    }

    .countdown__diveded {
      font-size: 4rem;
      font-weight: 400;
    }
  }
}
</style>
