<template>
  <div class="header">
    <div class="header-title">
      <h1 class="header-title__headline">
        <span class="headline--main">EVENT HUNTBAZAAR</span>
        <span class="headline--sub">Dilaksanakan Tanggal 1 Januari 2020</span>
      </h1>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.header {
  margin: 0;
  padding: 0;
  min-height: 400px;
  position: relative;
  font-size: inheret;
  background-image: linear-gradient(
    to right bottom,
    rgb(255, 51, 102),
    rgb(186, 38, 93)
  );
  background-size: cover;
  background-repeat: no-repeat;

  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__headline {
      color: white;
      //   font-size: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;

      .headline--main {
        font-size: 4rem;
        font-weight: 900;
      }
      .headline--sub {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
</style>